:root {
    --primary-color: #08a04b;
    /*Irish Green*/
    --secondary-color: #c9ae5d;
    /* Bronze Gold*/
    --accent1-color: #c83f49;
    /* Strawberry Red*/
    --accent2-color: #3b9c9c;
    /* Deep Sea Blue*/
    --heading-font: "lucida Console", "Courier New", Monospace;
    --body-font: "Times New Roman", "Georgia", Serif;
}

header {
    background-color: var(--Primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    width: 80px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 0 15px 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px;
}