* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width: 250px;
    --height: auto;
    --padding: 20px;
    --text-align: center;
    --box-shadow: 0 0 30px gray;
}

nav {
    background-color: #dc143c;
    padding: 10px;
    display: flex;
    gap: 10px;
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: #1aa260;
}

main img {
    width: 200px;
    height: var(--height);
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    float: right;
    margin: 0 0 1rem 1rem
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: var(--width);
    margin: 1rem;
    border: 1px solid black;
    padding: 20px;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    box-shadow: var(--box-shadow);
    position: relative;

}

aside img {
    width: 200px;
    height: var(--height);

}

aside h2 {
    position: absolute;
    left: 85px;
}

main img {
    width: var(--width);
    height: var(height);
}

aside h2 {
    position: absolute;
}

footer {
    margin-top: 15px;
    border-top: 1pc solid #000;
    text-align: var(--text-align);
}

/* Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}