:root {
    --width: 250px;
    --height: auto;
    --padding: 20px;
    --text-align: center;
    --box-shadow: 0 0 30px gray;
}

nav {
    background-color: #dc143c;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: #1aa260;
}

main img {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: var(--width);
    margin: 1rem;
    border: 1px solid black;
    padding: 20px;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    box-shadow: var(--box-shadow);
}

aside img {
    width: var(--width);
    height: var(--height);

}

main img {
    width: var(--width);
    height: var(height);
}

footer {
    margin-top: 15px;
    border-top: 1pc solid #000;
    text-align: var(--text-align);
}