header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    box-sizing: border-box;
}

:root {
    --width: 250px;
    --height: auto;
    --padding: 20px;
    --text-align: center;
    --box-shadow: 0 0 30px gray;
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: #dc143c;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: var(--width) 1fr;
    gap: 20px;
    align-items: start;
}

h1 {
    color: #1aa260;
    border-bottom: soild;
}

main img {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    float: right;
    margin: 0 0 1rem 1rem
}

p {
    padding: 0;
}

aside {
    margin: 1rem 0;
    border: 1px solid black;
    padding: 20px;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    box-shadow: var(--box-shadow);
}

aside img {
    width: 200px;
    height: var(--height);
    margin-top: 10px;
}

aside h2 {
    position: absolute;
    left: 85px;
}

main img {
    width: var(--width);
    height: var(height);
}

aside h2 {
    position: absolute;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
    padding: 10px 0;
}

/* Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}